<?xml version="1.0"?>
<model>
  <name>target_flag</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thaddeus Rosales</name>
    <email>thadyboygwapo82@gmail.com</email>
  </author>

  <description>
    A 0.1-meter radius, 1-meter tall static target flag used in RL caging simulations.
  </description>
</model>
