<?xml version="1.0"?>
<model>
  <name>diff_drive_robot</name>
  <version>1.0</version>
  <sdf version="1.6">diff_drive_robot.sdf</sdf>

  <author>
    <name>Thaddeus Rosales</name>
    <email>thadyboygwapo82@gmail.com</email>
  </author>

  <description>
    diff drive robot
  </description>
</model>
